@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Rubik+Dirt&display=swap');

body{
    font-family: 'Nanum Gothic Coding', monospace;
    
    zoom: 2;
    background: url(https://images.wikidexcdn.net/mwuploads/esssbwiki/d/d0/latest/20180818070350/Estadio_Pok%C3%A9mon_SSBU.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

#selecionar-mascota{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#titulo{
    font-family: 'Rubik Dirt', cursive;
    color:white;
    font-size: 32px;

}



.subtitulo{
    font-family: 'Rubik Dirt', cursive;
    color: white;
    font-size: 20px;


}

.tarjetas, #caja-botones{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background: #3B9AE1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

.tarjeta-de-mokepon:hover{
    cursor: pointer;
}

input{
    display: none;
}

input:checked + label{
    background-color: #B1E1FF;

}


#boton-mascota{
    margin: 20px 0px 0px 0px;
    border-radius: 12px;
    background: transparent;
    color: white;
    width: 150px;
    height: 40px;
    border: 2px solid white;
}

#selecionar-ataque{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-fire{
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 180px;
    background-color: firebrick;
    border-color: transparent;
    color: white;
    font-family: 'Nanum Gothic Coding', monospace;
}

.btn-water{
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 180px;
    background-color: #3B9AE1;
    border-color: transparent;
    color: white;
    font-family: 'Nanum Gothic Coding', monospace;
}

.btn-earth{
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 180px;
    background-color: greenyellow;
    border-color: transparent;
    color: white;
    font-family: 'Nanum Gothic Coding', monospace;
}

#mensaje{
    color: black;
    overflow-y: scroll;
    height: 180px;
    width: 470px;

    /* overflow: hidden */
}

#contenedor-de-vidas{
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    
}

#reiniciar{
    display: flex;
    box-sizing: border-box;
    display: flex;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    
    
}
#button{
    border-radius: 20px;
    width: 180px;
    background-color: orange;
    border-color: transparent;
    color: white;
    font-family: 'Nanum Gothic Coding', monospace;

}

#caja-comun{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensajes{
    display:flex;
    color: black;
    align-items: baseline;
    flex-direction: row-reverse;
    background-color: #F0EBCC;
    opacity: 80%;
    width: 320px;
    height: 60px;
    margin-top: 20px;
    justify-content: center;
    border-radius: 10px;

}

#ataques-del-enemigo{
    color: black;
}

#ataques-del-jugador{
    color: black;
}

#resultado{
    color: black;
    display: flex;
    align-items: center;
}
#resto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0EBCC;
    opacity: 80%;
    /* width: 320px;
    height: 265px; */
    margin-top: 10px;
    border-radius: 10px;
}

#boton-reiniciar{
    display: flex;
    background: orange;
    border-radius: 10px;
    border: transparent
}

.ataques{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100px 100px;
    background-color: #F0EBCC;
    opacity: 80%;
    justify-items: center;
}

.ataqueJugador, .ataqueEnemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 414px) {
    .tarjetas {
        flex-direction: column;
    }
    #caja-botones  {
        flex-direction: column;
        flex-direction: column;
    }
}